    </main>

    <!-- Footer -->

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-auto text-bg-dark">
        <p class="col-md-4 px-3 mb-0 text-white">© <%= new Date().getFullYear() %> <span class="amatic-font px-2">TimeTower, Inc</span></p>

        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="images/icon.png" class="bi me-2 rounded-circle" width="40" height="40" alt="note-icon">
        </a>

        <ul class="nav flex-column flex-sm-row px-2 justify-content-between">
            <li class="nav-item"><a href="/submit" class="nav-link px-2 text-white nav-btn">Home</a></li>
            <li class="nav-item"><a href="/features" class="nav-link px-2 text-white nav-btn">Features</a></li>
            <li class="nav-item"><a href="/pricing" class="nav-link px-2 text-white nav-btn">Pricing</a></li>
            <li class="nav-item"><a href="/faq" class="nav-link px-2 text-white nav-btn">FAQs</a></li>
            <li class="nav-item"><a href="/about" class="nav-link px-2 text-white nav-btn">About</a></li>
        </ul>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </body>
</html>