<%- include("partials/header.ejs") %>

    <div class="container marketing my-5 pt-lg-5 text-center">
        <div class="row">
            <div class="col-lg-4">
                <img src="images/des.png" class="bd-placeholder-img rounded-circle" width="180" height="180" alt="prod">
                <h2 class="fw-bolder my-3 cursive-font">Intuitive Design</h2>
                <p>Our app is designed with simplicity in mind. You'll find it easy to use,
                    whether you're tech-savvy or just starting your digital organization journey.</p>
                <p><a class="btn gradient-background-main fw-bold" href="/about">About TimeTower »</a></p>
            </div>
            <div class="col-lg-4">
                <img src="images/feat.png" class="bd-placeholder-img rounded-circle" width="180" height="180" alt="prod">
                <h2 class="fw-bolder my-3 cursive-font">Smart Features</h2>
                <p>We leverage the latest in technology to provide you with smart features like task
                    prioritization, due date reminders, recurring tasks, and more.</p>
                <p><a class="btn gradient-background-main fw-bold" href="/faq">Learn more »</a></p>
            </div>
            <div class="col-lg-4">
                <img src="images/plat.png" class="bd-placeholder-img rounded-circle" width="180" height="180" alt="prod">
                <h2 class="fw-bolder my-3 cursive-font">Cross-Platform</h2>
                <p>Access your tasks and lists from anywhere, on any device. We're available on web, iOS,
                    Android, and even as a browser extension.</p>
                <p><a class="btn gradient-background-main fw-bold" href="/pricing">Check plans »</a></p>
            </div>
        </div>

    </div>

<%- include("partials/footer.ejs") %>